
@import "_reset.scss";
@import "_variables.scss";
@import "_footer.scss";
@import "_mixins.scss";
@import "_header.scss";
@import "_ubicacion.scss";
@import "_index.scss";


/* fuente descargada en el pc */
@font-face {
	font-family: 'Inter', sans-serif;
	src: url('../assets/fonts/Inter-Medium.ttf');
    color:rgb(77, 53, 23)
}
body {
	background-attachment: fixed;	
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow-x: hidden;
}
.copy{
	font-weight:lighter; 
	color: rgb(0, 0, 0);
	font-size: 1
}
.textHist{
	@include fontInter;
	font-size: 2rem;
	margin: 2%;
	padding: 2%;
}
.contenedorMain{
	margin-top: auto;
	height: auto;
	width: auto;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.788);
}
/*imagen que acompaña el texto en el index*/
.imgHist{
	border-radius: 0% 1% 1% 0% !important;
	height: 80%;		
	max-width: 100%;
}
/*parrafo al lado de la imagen de historia*/
.textoImagenHis{ 
	display: flex;
		p {
		font-size: 1rem;	
		border-radius:4px;
		height: auto;
		margin-bottom: 0;
		}
}
.TituloParHist{
	font-size: 2rem;
	padding: 4px;
	border-radius:2px;
	text-align: center;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	animation: fadeInRight;
	animation-duration: 2s;
}
.imgParraHist{
	padding: 4px;
	border-radius:2px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* estilos pagina de historia*/
.imagenHistoria{
	position: relative;
	background-image: url(../img/fondoCervezas.jpg);
	margin: 0%;
	@include ajusteImgFondo;
	@include fontInter;
	z-index: 0;	
	.textoHistoria{
		background-color: rgba(255, 255, 255, 0.788);
		padding:6% 18%;
		text-align: center;
			.recuadro{
				@include cuadroAmarillo
			}
	}
}
/*estilos cerveceria*/

.contentCerveceria{
	/*background-color: #000;*/
	@include fontInter;
	margin-top: 8%;	
		.textcerveceria{
			display: block;
			margin: 4% 10% 4% 10%;
			align-items: center;
			text-align: left;
			.recuadro{
				@include cuadroAmarillo				
			}			
						
		}
}
.cajaCarruCerve{	
	width: 90%;
	margin: 0 auto;
		.carousel-inner{
			border-style:solid;
			border-color: #cfb22d;
			border-radius: 2px;
			border-width: 10px;
			margin-bottom: 2%;
		}
}
/* estilos pagina de cervezas*/
.cervezas{
	background-image: url(../img/fondoCervezas.jpg);	
	height: 100vh;
	margin: 0%;
	@include ajusteImgFondo;		
		.imagenCarrusel{
			width: 45vh;
			margin:0 auto;
			margin-top: 6%;
		}		
		.textCarrusel{
			@include fontInter;		
		}
		.carousel-inner{
			background-color: #0000006e;
			height: 100vh;
		}
}
.fondoError{
	background-image: url(../img/vasovacio.jpg);
	height: 100vh;
	margin: 0%;
	@include ajusteImgFondo;
	background-color: #000;
	z-index: 0;
}
.parrafoError{
position: fixed;
	margin-left: 72%;
	@include fontInter;
	z-index:5;
	color: beige;
	margin-right: 1%;
	padding: 1%;
	margin-top: 15%;
	background-color:  #cfb22d;
	border-radius: 3px;	
	}
/* pantalla pequeña */
	@media only screen and (max-width: 767px){	
		.parrafoError{
			font-size: 0.5rem !important;
			margin-top: 50%;
			margin-left: 50%;
			margin-right: 2%;
		}
		.textoImagenHis{
		margin: 0 auto;		
		font-size: 0.5rem;		
		display: flex;
		}		
		.imagenHistoria{
			position: relative;
		}
		.textoHistoria{
			padding: 10% 5% !important;
			@include fontInter;
		}
		.textHist{
			font-size: 1rem !important;
			margin: 2%;
			padding: 1%;
		}
		.imgHist{
			display: none;
		}
		.cajaCarruCerve{
			width: 90%;
		}
		.contentCerveceria{
			display: inline;			
			.textcerveceria{
				margin-top: 12%;
				font-size: 1rem;
				text-align: center;
				font-size: 1.5rem;
				h2{
				text-align: center;				
				}
				.imagenParrafoCerveceria{
				margin-bottom: 2%;				
				}
			}
		}
		.cervezas{
			.imagenCarrusel{
			margin-top: 15%;
			width: 50%;
			overflow: hidden;
				h6{
				font-size: 2rem;
				}
				p{
				font-size: 1rem;
				margin-bottom: 8%;
				}
			.carousel-inner{
			height: 50vh;
			width: 50%;
			}
			}
	}
	}
	
/* Pantalla mediana 
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		#encabezado{
			height: auto;
		}
		#contenido{
			width: auto;		
		}		
}*/

/*Pantalla grande */
	@media (min-width: 992px) {
		#page_content{
			width: 90%;
		}
		#page_content{
			width: 60%;
		}
	}
