@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*footer, redes, copy*/
footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
}
footer ul {
  list-style: none;
}
footer ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
}
footer .fa-instagram:before {
  color: #a722ac !important;
}
footer .fa-facebook:before {
  color: #2422ac !important;
}
footer .fa-twitter:before {
  color: #2172dd !important;
}
footer .contenedorRedes ul li a:hover {
  color: #00abf0;
  background: rgba(22, 21, 21, 0.3215686275);
  padding: 10px 10px;
  border-radius: 2px;
  margin-right: 0%;
}

.copy a {
  text-decoration: none !important;
  color: #333333;
  align-self: center !important;
}

header .navbar {
  font-family: "Inter", sans-serif;
}
header .navbar h5 {
  font-size: 2rem !important;
}
header .navbar .nav-link {
  font-size: 1.5rem !important;
}

/* fuente descargada en el pc */
@font-face {
  font-family: "open sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Light.ttf");
  color: rgb(77, 53, 23);
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-Medium.ttf");
  color: rgb(77, 53, 23);
}
body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

.parrafoTitulo {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

/* estilos pagina de Index*/
.contenVideo video {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  overflow: hidden;
  display: block;
}
.contenVideo h1 {
  font-family: "Inter", sans-serif;
  color: rgb(248, 250, 252);
  font-size: 6rem;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4392156863), 1px 1px 1px rgba(0, 0, 0, 0.4392156863), -2px 2px 1px rgba(0, 0, 0, 0.4392156863), 2px -2px 1px rgba(0, 0, 0, 0.4392156863);
  position: absolute;
  top: 10%;
  left: 5%;
}
.contenVideo h2 {
  font-family: "Inter", sans-serif;
  color: rgb(248, 250, 252);
  font-size: 6rem;
  font-weight: bolder;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4392156863), 1px 1px 1px rgba(0, 0, 0, 0.4392156863), -2px 2px 1px rgba(0, 0, 0, 0.4392156863), 2px -2px 1px rgba(0, 0, 0, 0.4392156863);
  position: absolute;
  top: 30%;
  left: 5%;
}

.textHist {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem !important;
  margin: 2%;
  padding: 2%;
}

.contenedorMain {
  margin-top: auto;
  height: auto;
  width: auto;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.788);
}

/*imagen que acompaña el texto en el index*/
.imgHist {
  border-radius: 0% 1% 1% 0% !important;
  height: 80%;
  max-width: 100%;
}

/*parrafo al lado de la imagen del index*/
.textoImagen {
  display: flex;
}
.textoImagen p {
  font-size: 1rem;
  border-radius: 4px;
  height: auto;
  margin-bottom: 0;
}

.TituloParHist {
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: fadeInRight;
  animation-duration: 2s;
}

.imgParraHist {
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* estilos pagina de historia*/
.imagenHistoria {
  position: relative;
  background-image: url(../img/fondoCervezas.jpg);
  margin: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  z-index: 0;
}
.imagenHistoria .textoHistoria {
  background-color: rgba(255, 255, 255, 0.788);
  padding: 6% 18%;
  text-align: center;
}
.imagenHistoria .textoHistoria .recuadro {
  background-color: #cfb22d;
  margin: 0 auto;
  padding: 5px;
  display: inline;
}

/*estilos cerveceria*/
.contentCerveceria {
  font-family: "Inter", sans-serif;
  margin-top: 5%;
}
.contentCerveceria .imagenCerveceria {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4392156863);
}
.contentCerveceria .textcerveceria {
  display: block;
  margin: 4% 6% 4% 6%;
  align-items: center;
  text-align: left;
}
.contentCerveceria .textcerveceria .recuadro {
  background-color: #cfb22d;
  margin: 0 auto;
  padding: 5px;
  display: inline;
}
.contentCerveceria .textcerveceria .imagenParrafoCerveceria {
  position: relative;
  border-radius: 5px;
  width: auto;
  height: auto;
  margin: 1%;
}

/* estilos pagina de cervezas*/
.cervezas {
  background-image: url(../img/fondoCervezas.jpg);
  height: 100vh;
  margin: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cervezas .imagenCarrusel {
  width: 20%;
  margin: 0 auto;
  margin-top: 2%;
}
.cervezas .textCarrusel {
  font-family: "Inter", sans-serif;
}
.cervezas .carousel-inner {
  background-color: rgba(0, 0, 0, 0.431372549);
}
.cervezas .carousel-item {
  height: 100vh;
  margin-top: 4%;
}

/*.presentaciones{
	display: flex;	
	justify-content: space-between;

		.itemPresen{
		justify-content: space-between;
		background-color: transparent;
		border-width: 0;
		width: 150px;
		height: 300px;
		img{
			background-color: #fff2f2;
			width: 100%;
		}		
			img hover{
				h3{
					display:block;
				}
			}
		}


}*/
/*estilo para pagina de ubicación*/
.Ubicacion {
  background-image: url(../img/Mapa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6235294118);
}

.list-group-item {
  border: 0 !important;
  background-color: rgba(255, 255, 255, 0.631372549);
}

.contenDirecciones {
  background-color: rgba(255, 255, 255, 0.631372549);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 70%;
  margin: 6%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
}

.contenUbicacion {
  display: flex;
}

.mapa-responsive {
  text-align: center;
  height: 80%;
  width: 50%;
}

/*estilo de fomulario*/
.formularioUbicacion {
  margin-top: 0%;
  margin-bottom: 50px;
  padding-bottom: 5%;
}
.formularioUbicacion form {
  width: 500px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.631372549);
  position: relative;
  font-family: Inter, sans-serif;
  color: rgb(19, 19, 19);
  box-shadow: 1px 1px 10px gray;
}
.formularioUbicacion form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}
.formularioUbicacion form input[type=text],
.formularioUbicacion form input[type=email] {
  width: 380px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
.formularioUbicacion form input[type=submit] {
  width: 20%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}
.formularioUbicacion form input[type=submit]:hover {
  cursor: pointer;
}

.fondoError {
  background-image: url(../img/vasovacio.jpg);
  height: 100vh;
  margin: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  z-index: 0;
}

.parrafoError {
  position: fixed;
  margin-left: 72%;
  font-family: "Inter", sans-serif;
  z-index: 5;
  color: beige;
  margin-right: 1%;
  padding: 1%;
  margin-top: 15%;
  background-color: rgba(0, 0, 0, 0.4745098039);
  border-radius: 3px;
}

/* pantalla pequeña */
@media only screen and (max-width: 767px) {
  .parrafoTitulo h1 {
    font-size: 5rem;
  }
  .parrafoError {
    font-size: 0.5rem !important;
    margin-top: 50%;
    margin-left: 50%;
    margin-right: 2%;
  }
  .contenVideo video {
    width: auto;
    transform: translateX(-55%);
    position: fixed;
  }
  .contenVideo h1 {
    font-size: 6rem;
  }
  .contenVideo h2 {
    font-size: 5rem;
    top: 40%;
  }
  .textoImagen {
    margin: 0 auto;
    font-size: 0.5rem;
    display: flex;
  }
  .imagenHistoria {
    position: relative;
  }
  .textoHistoria {
    padding: 10% 5% !important;
    font-family: "Inter", sans-serif;
  }
  .textHist {
    font-size: 1rem !important;
    margin: 2%;
    padding: 1%;
  }
  .imgHist {
    display: none;
  }
  .contentCerveceria {
    display: inline;
  }
  .contentCerveceria .imagenCerveceria {
    width: auto;
    height: 50%;
    transform: translateX(-50%);
  }
  .contentCerveceria .textcerveceria {
    font-size: 1rem;
    padding-bottom: 8%;
    text-align: center;
  }
  .contentCerveceria .textcerveceria h2 {
    text-align: center;
  }
  .contentCerveceria .textcerveceria .imagenParrafoCerveceria {
    margin-bottom: 2%;
  }
  .Ubicacion {
    display: list-item;
    justify-content: space-around;
  }
  .contenUbicacion {
    height: 95vh;
    margin-bottom: 1%;
  }
  .contenDirecciones {
    margin: 12% 1% 1% 1%;
    padding: 0%;
    height: 80%;
    width: 100%;
    display: grid;
    line-height: 0.8;
    font-weight: 1rem;
  }
  .contenDirecciones .mapa-responsive {
    text-align: center;
    align-items: center;
  }
  .contenDirecciones .formularioUbicacion {
    margin: 0%;
  }
}
.imagenCarrusel {
  margin-top: 4%;
}

/* Pantalla mediana 
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		#encabezado{
			height: auto;
		}
		#contenido{
			width: auto;		
		}		
}*/
/*Pantalla grande */
@media (min-width: 992px) {
  #page_content {
    width: 90%;
  }
  #page_content {
    width: 60%;
  }
}/*# sourceMappingURL=estilo.css.map */